{% extends 'base.html' %}

{% block title %}Sing UP{% endblock title %}

{% block content %}
<div class="border bg-light p-5 mt-3 bg-opacity-10 border-2 rounded-3 ">
    <h1 class="font-monospace mb-5">Edit Address</h1> 

    <form method="post" class="row g-3">
        {{ form.csrf_token }}
        <div class="col-md-6 mb-3">
            <label for="inputname" class="form-label">{{ form.name.label }}</label>
            {{ form.name(class='form-control', value=address.name)}}
        </div>
        <div class="col-md-6 mb-3">
            <label for="inputname" class="form-label">{{ form.phone.label }}</label>
            {{ form.phone(class='form-control', value=address.phone) }}
        </div>
        <div class="col-md-10 mb-3">
            <label for="inputname" class="form-label">{{ form.street.label }}</label>
            {{ form.street(class='form-control', value=address.street) }}
        </div>
        <div class="col-md-2 mb-3">
            <label for="inputname" class="form-label">{{ form.zipcode.label }}</label>
            {{ form.zipcode(class='form-control', value=address.zipcode) }}
        </div>
        <div class="col-md-5 mb-3">
            <button type="submit" name="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>

{% endblock content %}